body {
    background: linear-gradient(135deg, #120c1f, #051937);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    text-align: center;
}

.objetivo-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.contador {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #00f2fe;
    margin-top: 15px;
}
